@r: 50rem;
//@media only screen and (min-width: 0) and (max-width: 9999px) {
//  #box {
//      .op { 
//          margin: 100/@r auto \0;
//      }
//      .jigokutsushin {
//          margin: 200/@r auto 0\0;
//          .msg {
//              width: 13em\0;
//              font-size: 45/@r\0;
//          }
//          .form_wrap {
//              .txt { 
//                  width: 8em \0;
//                  height: 60/@r \0;
//                  font-size: 45/@r \0;
//                  border-width: 5/@r \0;
//              }
//          }
//      }
//      .loading {
//          margin-top: 200/@r \0;
//          font-size: 100/@r \0;
//      }
//      .success {
//          margin-top: 200/@r \0;
//          font-size: 100/@r \0;
//      }
//      .receive {
//          margin-top: 200/@r \0;
//          font-size: 80/@r \0;
//      }
//      .not_found_404 {
//          margin-top: 300/@r \0;
//          p {
//              font-size: 20/@r \0;
//          } 
//      }
//  }
//}
a,
input,
button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
button {
    -webkit-appearance: none;
    border-radius: 0;
}

body {
    margin: 0;
    -webkit-user-select: none;
    -webkit-text-size-adjust: 100%;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    width: 100%;
    height: 100%;
}

body * {
    -webkit-user-select: none;
    font-family: Helvetica;
}

#box {
    .op {
        height: 50%; 
        display: block;
        margin: 10% auto 0 \0;
        margin: 100/@r auto 0;
    }
    .jigokutsushin {
        margin: 200/@r auto 0;
        margin: 10% auto 0 \0;
        width: 100%;
        .msg {
            margin: 0 auto;
            width: 402px \0;
            width: 13em;
            font-size: 33px \0;
            font-size: 45/@r;
            margin-bottom: .5em;
        }
        .form_wrap {
            width: 100%;
            text-align: center;
            .txt {
                padding: 0;
                display: inline-block;
                box-sizing: content-box \0;
                width: 305px \0;
                width: 8em;
                height: 35px \0;
                height: 60/@r;
                font-size: 33px \0;
                font-size: 45/@r;
                border-width: 5px 5px 5px 5px \0;
                border-width: 5/@r;
                border-radius: 0;
                margin-bottom: .5em;
            }
            .btn {
                color: #000;
            }
        }
    }
    .loading {
        margin-top: 200px \0;
        margin-top: 200/@r;
        text-align: center;
        font-size: 100px \0;
        font-size: 100/@r;
        transform-origin: center 40%;
        animation: loading 2s infinite linear;
    }
    .success {
        margin-top: 100px \0;
        margin-top: 200/@r;
        text-align: center;
        font-size: 100px \0;
        font-size: 100/@r;
        p {
            font-family: simsun;
            font-weight: bold;
            margin-bottom: .5em;
        }
    }
    .receive {
        margin-top: 100px \0;
        margin-top: 200/@r;
        text-align: left;
        font-size: 80px \0;
        font-size: 80/@r;
        p {
            padding: 0 1em;
            font-family: simsun;
            font-weight: bold;
            margin-bottom: .5em;
        }
    }
    .not_found_404 {
        margin-top: 300px \0;
        margin-top: 300/@r;
        p {
            font-family: "times new roman";
            font-size: 20px \0;
            font-size: 20/@r;
        }
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    50% {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}