@media only screen and (min-width: 0px) and (max-width: 768px) {
    .Jigokutsushin {
        input {
        }
    }
}
@r: 50rem;
a,
input,
button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
button {
    -webkit-appearance: none;
    border-radius: 0;
}
body {
    margin: 0;
    -webkit-user-select: none;
    -webkit-text-size-adjust: 100%;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
html {
    width: 100%;
    height: 100%;
}
body * {
    -webkit-user-select: none;
    font-family: Helvetica;
}
#vd{
    position: fixed;
    top: 10%;
    left: 0;
    background-color: #000000;
    width: 100%;
    height: 60%;
}
.margintop {
    width: 100%;
    height: 30%;
}
form{
    width: 100%;
    .msg{
        margin: 0 auto;
        width: 13em;
        font-size: 45/@r;
        margin-bottom: .5em;
    }
    .form_wrap{
        width: 100%;
        text-align: center;
        .txt{
            padding: 0;
            display: inline-block;
            width: 9em;
            height: 60/@r;
            font-size: 45/@r;
            border-width: 5/@r;
            border-radius: 0;
            margin-bottom: .5em;
        }
        .btn{
            color: #000;
        }
    }
}
.not_found_404{
    p{
        font-family: "times new roman";
        font-size: 20/@r;
    }
}
